.runContainer {
    height: 100%;
    width: 100%;
    border: solid 0;
    position: absolute;
    background-color: transparent;
}
.runLeft {
    height: 95%;
    width: 3%;
    position: absolute;
    left: 0;
    background-color:rgb(205, 165, 36) ;
    bottom: 0;
}
.runRight {
    height: 95%;
    width: 3%;
    position: absolute;
    right: 0;
    background-color:rgb(205, 165, 36) ;
    bottom: 0;
}
.runTop {
    height: 7%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(205, 165, 36);
    left: 0;
}
.runtimeContainer {
    height: 93%;
    width: 94%;
    border: solid 0;
    position: absolute;
    background-color: transparent;
    left: 3%;
    bottom: 0%;
}
