.notificationContainer {
    position: absolute;
    top: 2.5%;
    right: 2%;
    width: 20%;
    height: 95%;
    display: block;
    border: solid 0;
    background-color: #bd0926;
    border-radius: 22px;
}

.notificationHeader {
    height: 10%;
    width: 100%;
    display: block;
    background-color: #bd0926;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.notificationHeader h1 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.notificationFooter {
    height: 5%;
    width: 100%;
    display: block;
    bottom: 0;
    position: absolute;
    background-color: #bd0926;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
.notificationBody {
    height: 85%;
    width: 100%;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: #bd0926;
}
.notificationSection {
    width: 100%;
    display: block;
    height: 10%;
    background-color: #bd0926;
    left: 0;
    margin: 0;
    position: relative;
}

.notificationContent {
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0 !important;
    display: inline-block;
    border: solid 0;
}
.notificationContent h2 {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 2%;
}
.notificationType {
    position: absolute;
    width: 100%;
    height: 40%;
    display: inline-block;
    bottom: 0;
    color: #ffffff;
    border: solid 0;
}
