.containerSettingsCat {
    height: 90%;
    top: 5%;
    width: 45%;
    display: block;
    border-radius: 22px;
    position: absolute;
    border: solid 2px #bd0926;
    background-color: #ffffff;
    left: 2.5%;
}

.containerSettingsSub {
    height: 90%;
    top: 5%;
    width: 45%;
    position: absolute;
    display: block;
    border-radius: 22px;
    border: solid 2px #bd0926;
    background-color: #ffffff;
    right: 2.5%;
}

.containerSettingsCatHead {
    height: 10%;
    width: 100%;
    position: absolute;
    display: inline-block;
    border: solid 0;
    border-radius: 22px 22px 0 0;
    background-color: transparent;
}
.containerSettingsCatBody {
    height: 90%;
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    border: solid 0;
    border-radius: 0 0 22px 22px;
    background-color: transparent;
}
.btnSettingsCat {
    height: 10%;
    width: 100%;
    position: relative;
    cursor: pointer;
    border: solid 0px ;
    color: black;
    font-size: 1.05rem;
    border-bottom: solid 1px black;
    background-color: transparent;
}

.sectionNotifiSettings {
    width: 100%;
    height: 10%;
    position: relative;
    display: ruby-text;
    border: solid 0;
    background-color: transparent;
}
.sectionNotifiSettingsLeft {
    width: 50%;
    height: 10%;
    position: relative;
    display: inline;
    border: solid 0;
    background-color: transparent;
    left: 0;
    top: 0;
}
.sectionNotifiSettingsRight {
    width: 50%;
    height: 100%;
    position: relative;
    display: inline;
    border: solid 0;
    background-color: transparent;
    right: 0;
    top: 0;
}
.btnSettingsNotifi {
    height: 20px;
    width: 150px;
    background-color: transparent;
    border: solid 1px #bd0926;
    color: #bd0926;
    cursor: pointer;
    border-radius: 10px;
}

