body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    height: 100%;
    width: 100%;
    border: solid 0;
    background-color: #ffffff;
    display: block;
    position: absolute;
}

.window {
    width: 40%;
    height: 80%;
    border: solid 0;
    background-color: #d8dee9;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 22px;
}
.window-header {
    width: 100%;
    height: 10%;
    border: solid 0;
    background-color: #d8dee9;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.window-header-title {
    color: #bd0926;
    font-size: 2rem;
    margin-top: 2%;
    font-weight: bold;
    position: relative;
    text-align: center;
}
.window-body {
    width: 100%;
    height: 90%;
    border: solid 0;
    background-color: #d8dee9;
    position: absolute;
    top: 10%;
    left: 0;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
.window-body-button {
    width: 100%;
    height: 10%;
    border: solid 0;
    background-color: #d8dee9;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 1px #d8dee9;
    border-radius: 0px 0px 22px 22px;
}
.buttonStyleSetup {
    height: 50px;
    width: 50px;
    position: relative;
    object-position: center;
    justify-content: center;
    border: solid 2px #bd0926;
    border-radius: 50%;
    float: right;
    right: 5%;
    top: 10%;
}
.window-body-input {
    width: 100%;
    height: 80%;
    border: solid 0;
    background-color: #d8dee9;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    border-bottom: solid 1px #d8dee9;
}
.setupFont {
    border: solid 0px;
    height: 25px;
    width: 300px;
    left: 31%;
    position: absolute;

}
.setupInput {
    border: solid 1px ;
    border-radius: 5px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 300px;
}
.setupFontText {
    float: left;
    font-size: 1rem;
    color: #bd0926;
}
