.footerLocation {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 90%;
    left: 30%;
}
.footerLocation a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 3px;
    text-decoration: none;
    font-size: 17px;
}
.footerHref {
    color: #bd0926;
    text-align: center;
    display: inline-block;
}
