.containerFilter {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 0;
}
.colorSelector {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 1%;
    border: solid 0;
    top: 0;
}
.inputStyleFilter {
    height: 10%;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid 0px #bd0926;
    display: inline-block;
    border-bottom: solid 1px lightgrey;
    background-color: white;
}
.inputStyleFilter p {
    font-size: 1.2rem;
    display: inline-block;
    color: #bd0926;
    position: absolute;
    left: 15%;
    top: 45%;
    padding: 0;
    margin: 0;

}
.inputStyleFilter i {
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    padding: 0;
    left: 2%;
    margin: 0;
}
.clothesType {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 2%;
    border: solid 0;
    top: 0;
}
.contentFilter {
    position: absolute;
    height: 100%;
    width: 80%;
    right: 0;
    top: 0;
    border: solid 0;
}
.viewMode{
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0 ;
    top: 0;
    border: solid 0;
}
