.containerBorrow
{
    height: 90%;
    top: 0;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
    border: solid 0;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
}
.containerRequestBtn {
    height: 10%;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    position: absolute;
    border: solid 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.containerRequestBtn button {
    height: 95%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    border: solid 1px #bd0926;
    background-color: transparent;
}
.listBtn {
    height: 10%;
    width: 100%;
    position: relative;
    color: #bd0926;
    border: solid 1px #bd0926;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
}
.friendwardcont {
    height: 15%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    position: relative;
    margin-top: 2%;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px #bd0926;
    color: #bd0926;

}
.friendpichold {
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: transparent;
    border: solid 0;
    left: 0;
}
.friendnamehold {
    height: 100%;
    width: 70%;
    position: absolute;
    background-color: transparent;
    border: solid 0;
    right: 0;
}
.NameF {
    font-weight: bold;
    font-size: 1.5rem;
    left: 2%;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}
.DescF {
    font-size: 1rem;
    left: 2%;
    position: relative;
    margin-top: 0;
    padding-top: 0;
}
.lendHolder {
    height: 20%;
    width: 99%;
    position: relative;
    border: solid 1px #bd0926;
    margin-top: 1%;
    background-color: transparent;
    color: #bd0926;
    padding: 0;
}
.fotoHolder {
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: transparent;
    border: solid 0;
    left: 0;
}
.itemFoto {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: relative;
    background-color: transparent;
    border: solid 0;
}
.infoHolder {
    height: 100%;
    width: 70%;
    position: absolute;
    background-color: transparent;
    border: solid 0;
    right: 0;
}
.nameHolder {
    height: 50%;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: solid 0;
    top: 0;
    padding: 0;
    margin: 0;
}
.nameHolder p {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    position: relative;
    padding: 0;
    margin-left: 2%;
}
.informationContainer {
    height: 50%;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: solid 0;
    padding: 0;
    bottom: 0;
    margin: 0;
}
.information {
    display: inline-block;
    width: 100%;
}
.secleft {
    width: 50%;
    left: 0;
    bottom: 1%;
    position: absolute;
    margin: 0;
    padding: 0;
}
.secright {
    width: 50%;
    right: 0;
    bottom: 1%;
    position: absolute;
    margin: 0;
    text-align: right;
    padding: 0;
}
.extCont {
    height: 15%;
    width: 99%;
    position: relative;
    background-color: transparent;
    border: solid 1px #bd0926;
    border-radius: 15px;
    padding: 0;
}
.extContCtrl {
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0;
    border-radius: 15px;
    background-color: #bd0926;
    border: solid 0;
    padding: 0;
}
.extContInfo {
    height: 100%;
    border-radius: 15px;
    width: 90%;
    position: absolute;
    left: 0;
    background-color: transparent;
    border: solid 0;
    padding: 0;
}
.extContCtrlAccept {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    border: solid 0;
    padding: 0;
}
.extContCtrlReject {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border: solid 0;
    padding: 0;
}
.extBtnCtrl {
    height: 85%;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: solid 0;
    position: relative;
    border-radius: 50%;
    text-align: center;
}
.extContInfoPic {
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: transparent;
    display: inline-block;
    border: solid 0;
    border-radius: 15px;
    left: 0;
}
.extContInformation {
    height: 100%;
    width: 69%;
    position: absolute;
    background-color: white;
    display: inline-block;
    border: solid 0;
    border-radius: 15px;
    left: 31%;
}
.priceInput {
    width: 30%;
    position: absolute;
    left: 5%;
    bottom: 0%;
    background-color: #bd0926;
    color: #d8dee9;
    border-radius: 15px 15px 15px 15px;
    border: solid 0;
}
.priceInput::placeholder {
    position: relative;
    left: 5%;
}
.descInput {
    width: 50%;
    resize: none;
    position: absolute;
    right: 5%;
    height: 60%;
    bottom: 0%;
    background-color: #bd0926;
    color: #d8dee9;
    border-radius: 15px 15px 15px 15px;
    border: solid 0;
}
.priceInput::placeholder {
    color: #d8dee9;
    position: relative;
    right: 5%;
}
