.bodyControl {
    background-color: #f0f0f0;
    border-radius: 10px;
    position: absolute;
    min-width: 49%;
    margin: 0;
    padding: 0;
    min-height: 49%;
    border: solid 0;
    display: inline-block;
}

.maxbtn {
    min-height: 15%;
    min-width: 8%;
    border-radius: 15px;
    border: solid 0;
    position: absolute;
    z-index: 1;
    right: 1%;
    top: 1%;
    background-color: #ececf6;
}
#maxbtnico {
    font-size: 2rem;
    left: 30%;
    cursor: pointer;
    color: #2e3440;
    top: 20%;
    position: absolute;
}
#maxbtnico:hover {
    color: orange;
}
