.locationBar {
    height: 6%;
    width: 98%;
    background-color: #ececf6;
    border: solid 0;
    border-radius: 5px;
    position: absolute;
    top: 1%;
    transform: translateX(1%);
}
.locationBody {
    height: 90%;
    width: 98%;
    background-color: white;
    border: solid 0;
    border-radius: 5px;
    position: absolute;
    top: 7%;
    transform: translateX(1%);
}
.containerAddBody {
    height: 20%;
    width: 100%;
    background-color: #ececf6;
    border: solid 0;
    border-radius: 5px;
    position: absolute;
    top: 2%;
}
.containerAddBodyHead {
    height: 40%;
    width: 100%;
    background-color: #ececf6;
    border: solid 0;
    border-radius: 5px;
    position: absolute;
    top: 0%;
}
#addContHead {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 2%;
    color: #bd0926;
}
.container-body {
    height: 60%;
    width: 100%;
    background-color: #ececf6;
    border: solid 0;
    border-radius: 5px;
    display: inline-flex;
    position: absolute;
    bottom: 0;
}
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 25%;
    position: relative;
    width: 30%;
    height: 50%;
}
.input-group {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    left: 5%;
    border: solid 0;
}
.input-group-icon {
    position: relative;
    display: flex;
    height: 100%;
    width: 15%;
    left: 0;
    border: solid 0;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    align-items: center;
    color: #bd0926;
    text-align: center;
}
.input-group-input {
    position: absolute;
    display: flex;
    height: 100%;
    background-color: white;
    width: 70%;
    left: 15%;
    border-radius: 0px 10px 10px 0px;
    border: solid 0;

}
.inputStyle {
    width: 100%;
    height: 100%;
    position: relative;
    border: 0px;
    background-color: #ffffff;
}
textarea:focus, input:focus{
    outline: none;
}
.shopContainer {
    height: 98%;
    width: 100%;
    background-color: #ececf6;
    border: solid 0;
    border-radius: 5px;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    bottom: 0;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 6px;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: white;}

#customers th {
    padding-top: 15px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: #bd0926;
}
.buttonStyle {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    border: solid 0;
    background-color: #007bff;
    color: white;
}
.btnUsed {
    height: 100%;
    width: 10%;
    top: 0;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    border: solid 0;
    background-color: #007bff;
    color: white;
    right: 0;

}
